# Import Data

In [4]:
# Import Dependencies
import pandas as pd

In [5]:
# Create pathways to csv files
csv_path1 = "../SDP-Interview-ORE/models.csv"
csv_path2 = "../SDP-Interview-ORE/school-info.csv"

In [6]:
#create model dataframe
models_df = pd.read_csv(csv_path1, encoding="utf-8")
models_df.head()

,Loc,School Name,Model1718,Model1819,BIC1718,BIC1819
0,101,BARTRAM,Cafeteria Only,Cafeteria Only,No BIC,No BIC
1,102,WEST PHILADELPHIA,Cafeteria Only,Cafeteria Only,No BIC,No BIC
2,103,SCHOOL OF THE FUTURE,Cafeteria + Cart,Cafeteria + Cart,No BIC,No BIC
3,105,"ROBESON,PAUL -BARTRAM",Cafeteria Only,Cafeteria + Cart,No BIC,No BIC
4,110,SAYRE,Cafeteria Only,Cafeteria Only,No BIC,No BIC

In [7]:
#create school dataframe
school_df = pd.read_csv(csv_path2, encoding="utf-8")
school_df.head()

,Loc,Kitchen1718,Kitchen1819,FS Target Cohort 1 (1718),FS Target Cohort 2 (1819)
0,101,FS,FS,0,0
1,102,FS,FS,0,0
2,103,FS,FS,0,0
3,105,FS,FS,0,0
4,110,FS,FS,0,0

# Clean Data

In [8]:
#merge into one dataframe
merged_df = pd.concat([school_df, models_df], axis=1, join="inner")
merged_df.head()

,Loc,Kitchen1718,Kitchen1819,FS Target Cohort 1 (1718),FS Target Cohort 2 (1819),Loc,School Name,Model1718,Model1819,BIC1718,BIC1819
0,101,FS,FS,0,0,101,BARTRAM,Cafeteria Only,Cafeteria Only,No BIC,No BIC
1,102,FS,FS,0,0,102,WEST PHILADELPHIA,Cafeteria Only,Cafeteria Only,No BIC,No BIC
2,103,FS,FS,0,0,103,SCHOOL OF THE FUTURE,Cafeteria + Cart,Cafeteria + Cart,No BIC,No BIC
3,105,FS,FS,0,0,105,"ROBESON,PAUL -BARTRAM",Cafeteria Only,Cafeteria + Cart,No BIC,No BIC
4,110,FS,FS,0,0,110,SAYRE,Cafeteria Only,Cafeteria Only,No BIC,No BIC

In [9]:
#Check that datatypes are compatible for computations 
merged_df.dtypes
#dtypes look appropriate 
merged_df.columns

Index(['Loc', 'Kitchen1718', 'Kitchen1819', 'FS Target Cohort 1 (1718)',
       'FS Target Cohort 2 (1819)', 'Loc', 'School Name', 'Model1718',
       'Model1819', 'BIC1718', 'BIC1819'],
      dtype='object')

In [10]:
#checking for null values to be dropped
merged_df.isna().any()

Loc                          False
Kitchen1718                   True
Kitchen1819                   True
FS Target Cohort 1 (1718)    False
FS Target Cohort 2 (1819)    False
Loc                          False
School Name                  False
Model1718                    False
Model1819                    False
BIC1718                      False
BIC1819                      False
dtype: bool

In [11]:
#null data found in Kitchen1718 and Kitchen1819 to be dropped
final_df = merged_df.dropna()

In [12]:
#verify nulls are dropped
final_df.isna().any()

Loc                          False
Kitchen1718                  False
Kitchen1819                  False
FS Target Cohort 1 (1718)    False
FS Target Cohort 2 (1819)    False
Loc                          False
School Name                  False
Model1718                    False
Model1819                    False
BIC1718                      False
BIC1819                      False
dtype: bool

In [13]:
#new dataframe does not contain any nulls
final_df.head()

,Loc,Kitchen1718,Kitchen1819,FS Target Cohort 1 (1718),FS Target Cohort 2 (1819),Loc,School Name,Model1718,Model1819,BIC1718,BIC1819
0,101,FS,FS,0,0,101,BARTRAM,Cafeteria Only,Cafeteria Only,No BIC,No BIC
1,102,FS,FS,0,0,102,WEST PHILADELPHIA,Cafeteria Only,Cafeteria Only,No BIC,No BIC
2,103,FS,FS,0,0,103,SCHOOL OF THE FUTURE,Cafeteria + Cart,Cafeteria + Cart,No BIC,No BIC
3,105,FS,FS,0,0,105,"ROBESON,PAUL -BARTRAM",Cafeteria Only,Cafeteria + Cart,No BIC,No BIC
4,110,FS,FS,0,0,110,SAYRE,Cafeteria Only,Cafeteria Only,No BIC,No BIC

In [14]:
#convert new df to excel
final_df.to_excel("data.xlsx")