# Import Data

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create pathways to csv files
csv_path1 = "../SDP-Interview-ORE/models.csv"
csv_path2 = "../SDP-Interview-ORE/school-info.csv"

In [3]:
#create model dataframe
models_df = pd.read_csv(csv_path1, encoding="utf-8")
models_df.head()

,Loc,School Name,Model1718,Model1819,BIC1718,BIC1819
0,101,BARTRAM,Cafeteria Only,Cafeteria Only,No BIC,No BIC
1,102,WEST PHILADELPHIA,Cafeteria Only,Cafeteria Only,No BIC,No BIC
2,103,SCHOOL OF THE FUTURE,Cafeteria + Cart,Cafeteria + Cart,No BIC,No BIC
3,105,"ROBESON,PAUL -BARTRAM",Cafeteria Only,Cafeteria + Cart,No BIC,No BIC
4,110,SAYRE,Cafeteria Only,Cafeteria Only,No BIC,No BIC

In [4]:
#create school dataframe
school_df = pd.read_csv(csv_path2, encoding="utf-8")
school_df.head()

,Loc,Kitchen1718,Kitchen1819,FS Target Cohort 1 (1718),FS Target Cohort 2 (1819)
0,101,FS,FS,0,0
1,102,FS,FS,0,0
2,103,FS,FS,0,0
3,105,FS,FS,0,0
4,110,FS,FS,0,0

# Clean Data

In [5]:
#merge into one dataframe
merged_df = pd.concat([school_df, models_df], axis=1, join="inner")
merged_df.head()

,Loc,Kitchen1718,Kitchen1819,FS Target Cohort 1 (1718),FS Target Cohort 2 (1819),Loc,School Name,Model1718,Model1819,BIC1718,BIC1819
0,101,FS,FS,0,0,101,BARTRAM,Cafeteria Only,Cafeteria Only,No BIC,No BIC
1,102,FS,FS,0,0,102,WEST PHILADELPHIA,Cafeteria Only,Cafeteria Only,No BIC,No BIC
2,103,FS,FS,0,0,103,SCHOOL OF THE FUTURE,Cafeteria + Cart,Cafeteria + Cart,No BIC,No BIC
3,105,FS,FS,0,0,105,"ROBESON,PAUL -BARTRAM",Cafeteria Only,Cafeteria + Cart,No BIC,No BIC
4,110,FS,FS,0,0,110,SAYRE,Cafeteria Only,Cafeteria Only,No BIC,No BIC

In [6]:
#Check that datatypes are compatible for computations 
merged_df.dtypes
#dtypes look appropriate 
merged_df.columns

Index(['Loc', 'Kitchen1718', 'Kitchen1819', 'FS Target Cohort 1 (1718)',
       'FS Target Cohort 2 (1819)', 'Loc', 'School Name', 'Model1718',
       'Model1819', 'BIC1718', 'BIC1819'],
      dtype='object')

In [7]:
#checking for null values to be dropped
merged_df.isna().any()

Loc                          False
Kitchen1718                   True
Kitchen1819                   True
FS Target Cohort 1 (1718)    False
FS Target Cohort 2 (1819)    False
Loc                          False
School Name                  False
Model1718                    False
Model1819                    False
BIC1718                      False
BIC1819                      False
dtype: bool

In [8]:
#null data found in Kitchen1718 and Kitchen1819 to be dropped
final_df = merged_df.dropna()

In [9]:
#verify nulls are dropped
final_df.isna().any()

Loc                          False
Kitchen1718                  False
Kitchen1819                  False
FS Target Cohort 1 (1718)    False
FS Target Cohort 2 (1819)    False
Loc                          False
School Name                  False
Model1718                    False
Model1819                    False
BIC1718                      False
BIC1819                      False
dtype: bool

In [51]:
#new dataframe does not contain any nulls
final_df.head()

,Loc,Kitchen1718,Kitchen1819,FS Target Cohort 1 (1718),FS Target Cohort 2 (1819),Loc,School Name,Model1718,Model1819,BIC1718,BIC1819
0,101,FS,FS,0,0,101,BARTRAM,Cafeteria Only,Cafeteria Only,No BIC,No BIC
1,102,FS,FS,0,0,102,WEST PHILADELPHIA,Cafeteria Only,Cafeteria Only,No BIC,No BIC
2,103,FS,FS,0,0,103,SCHOOL OF THE FUTURE,Cafeteria + Cart,Cafeteria + Cart,No BIC,No BIC
3,105,FS,FS,0,0,105,"ROBESON,PAUL -BARTRAM",Cafeteria Only,Cafeteria + Cart,No BIC,No BIC
4,110,FS,FS,0,0,110,SAYRE,Cafeteria Only,Cafeteria Only,No BIC,No BIC

In [55]:
#convert new df to excel
#final_df.to_excel("data.xlsx")

In [39]:
#create df of only schools that changed
changes_df = final_df.loc[(final_df['BIC1718']!= final_df['BIC1819'])]

In [40]:
changes_df

,Loc,Kitchen1718,Kitchen1819,FS Target Cohort 1 (1718),FS Target Cohort 2 (1819),Loc,School Name,Model1718,Model1819,BIC1718,BIC1819
15,135,SAT,SAT,0,0,135,LONGSTRETH,Cafeteria Only,Schoolwide BIC,No BIC,BIC
17,137,SAT,SAT,0,0,137,MITCHELL,Cafeteria Only,Some BIC,No BIC,BIC
35,221,SAT,SAT,0,0,221,BACHE/MARTIN,Some BIC,Cafeteria Only,BIC,No BIC
36,224,SAT,SAT,0,0,224,BREGY,Schoolwide BIC,Cafeteria Only,BIC,No BIC
37,226,FS,FS,0,1,226,CHILDS,Cafeteria Only,Schoolwide BIC,No BIC,BIC
41,237,SAT,SAT,0,0,237,MC DANIEL,Cafeteria Only,Schoolwide BIC,No BIC,BIC
48,249,SAT,SAT,1,1,249,WARING,Some BIC,Cafeteria Only,BIC,No BIC
57,265,FS,FS,0,0,265,SCIENCE LEADERSHIP ACADEMY,Cafeteria Only,Some BIC,No BIC,BIC
83,502,FS,FS,0,0,502,EDISON,Cafeteria Only,Some BIC,No BIC,BIC
97,526,SAT,SAT,0,0,526,ELKINS,Schoolwide BIC,Cafeteria Only,BIC,No BIC
101,534,SAT,SAT,0,0,534,LUDLOW,Some BIC,Cafeteria Only,BIC,No BIC
104,539,SAT,SAT,1,0,539,POTTER THOMAS,Cafeteria Only,Some BIC,No BIC,BIC
110,547,FS,FS,0,1,547,CRAMP,Cafeteria Only,Some BIC,No BIC,BIC
122,568,FS,FS,0,0,568,"MARIN, LUIS MUNOZ",Schoolwide BIC,Cafeteria + Cart,BIC,No BIC
131,621,SAT,SAT,0,0,621,"EDMONDS, FRANKLIN S.",Schoolwide BIC,Cafeteria Only,BIC,No BIC
135,626,FS,FS,1,1,626,HOUSTON,Some BIC,Cafeteria Only,BIC,No BIC
142,636,FS,FS,0,0,636,ROOSEVELT THEODORE MS,Some BIC,Cafeteria Only,BIC,No BIC
144,639,SAT,SAT,1,0,639,STEEL,Schoolwide BIC,Cafeteria Only,BIC,No BIC
146,641,SAT,FS,1,1,641,COOK-WISSAHICKON,Cafeteria + Cart,Some BIC,No BIC,BIC
150,647,FS,FS,1,1,647,KELLY J.B.,Some BIC,Cafeteria Only,BIC,No BIC
155,711,FS,FS,0,0,711,HARDING,Cafeteria Only,Some BIC,No BIC,BIC
157,713,FS,FS,0,0,713,WAGNER,Cafeteria Only,Schoolwide BIC,No BIC,BIC
164,729,SAT,SAT,0,0,729,STEARNE,Cafeteria Only,Schoolwide BIC,No BIC,BIC
171,737,FS,FS,0,0,737,WASHINGTON GROVER JR,Cafeteria + Cart,Schoolwide BIC,No BIC,BIC
185,802,FS,FS,0,0,802,NORTHEAST,Some BIC,Cafeteria + Cart,BIC,No BIC
189,812,FS,FS,1,1,812,WILSON W,Cafeteria + Cart,Schoolwide BIC,No BIC,BIC
196,825,SAT,SAT,1,1,825,FORREST,Cafeteria + Cart,Schoolwide BIC,No BIC,BIC
200,831,SAT,SAT,0,0,831,MOORE,Cafeteria + Cart,Some BIC,No BIC,BIC
203,836,FS,FS,0,0,836,RHAWNHURST,Cafeteria Only,Schoolwide BIC,No BIC,BIC
205,838,FS,FS,0,0,838,FARRELL L.H.,Cafeteria Only,Some BIC,No BIC,BIC

In [52]:
#convert changed to excel to study on Tableau 
changes_df.to_excel("changes.xlsx")

In [41]:
#creat dataframe of schools that did not change
same_df = final_df.loc[(final_df['BIC1718'] == final_df['BIC1819'])]

In [42]:
same_df

,Loc,Kitchen1718,Kitchen1819,FS Target Cohort 1 (1718),FS Target Cohort 2 (1819),Loc,School Name,Model1718,Model1819,BIC1718,BIC1819
0,101,FS,FS,0,0,101,BARTRAM,Cafeteria Only,Cafeteria Only,No BIC,No BIC
1,102,FS,FS,0,0,102,WEST PHILADELPHIA,Cafeteria Only,Cafeteria Only,No BIC,No BIC
2,103,FS,FS,0,0,103,SCHOOL OF THE FUTURE,Cafeteria + Cart,Cafeteria + Cart,No BIC,No BIC
3,105,FS,FS,0,0,105,"ROBESON,PAUL -BARTRAM",Cafeteria Only,Cafeteria + Cart,No BIC,No BIC
4,110,FS,FS,0,0,110,SAYRE,Cafeteria Only,Cafeteria Only,No BIC,No BIC
...,...,...,...,...,...,...,...,...,...,...,...
209,842,FS,FS,0,0,842,DECATUR,Schoolwide BIC,Schoolwide BIC,BIC,BIC
210,843,FS,FS,0,0,843,GREENBERG,Cafeteria Only,Cafeteria Only,No BIC,No BIC
211,844,FS,FS,0,0,844,LOESCHE,Cafeteria Only,Cafeteria Only,No BIC,No BIC
212,856,FS,FS,0,0,856,THE WORKSHOP SCHOOL,Cafeteria Only,Cafeteria Only,No BIC,No BIC
213,877,FS,FS,0,0,877,JOHN HANCOCK DEMONSTRATION SCHOOL,Cafeteria + Cart,Cafeteria Only,No BIC,No BIC

In [53]:
#convert same to excel to study on Tableau 
same_df.to_excel("same.xlsx")